[submodule "bootiful-authorization"]
	path = bootiful-authorization
	url = git@github.com:nduyhai/bootiful-authorization.git
[submodule "bootiful-greeting"]
	path = bootiful-greeting
	url = git@github.com:nduyhai/bootiful-greeting.git
[submodule "submodule.bootiful-greeting.path"]
	path = bootiful-greeting
	url = git@github.com:nduyhai/bootiful-greeting.git
	branch = main
