[submodule "bootiful-authorization"]
	path = bootiful-authorization
	url = git@github.com:nduyhai/bootiful-authorization.git
[submodule "bootiful-greeting"]
	path = bootiful-greeting
	url = git@github.com:nduyhai/bootiful-greeting.git
	branch = main
[submodule "submodule.bootiful-greeting.path"]
	path = bootiful-greeting
	url = git@github.com:nduyhai/bootiful-greeting.git
	branch = main
[submodule "bootiful-admin"]
	path = bootiful-admin
	url = git@github.com:nduyhai/bootiful-admin.git
[submodule "bootiful-gateway"]
	path = bootiful-gateway
	url = git@github.com:nduyhai/bootiful-gateway.git
[submodule "bootiful-common-security"]
	path = bootiful-common-security
	url = git@github.com:nduyhai/bootiful-common-security.git
